/* purgecss start ignore */
.markdown-body {
  @apply text-lg;
}

.markdown-body a {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply bg-gradient-green-blue;
  @apply font-black;
}

.markdown-body p {
  @apply leading-loose;
  @apply mb-4;
  @apply text-lg;
}

.markdown-body h2 {
  @apply font-black;
  @apply mb-2;
  @apply mt-8;
  @apply text-3xl;
}

.markdown-body h3 {
  @apply font-black mb-2 mt-8 text-xl;
}

.markdown-body ul,
ol {
  list-style: initial;
  @apply leading-loose pl-8;
}

.markdown-body li {
  @apply my-2;
}

.markdown-body img {
  @apply mb-4 w-full;
}

.markdown-body *:last-child {
  @apply mb-0;
}

.markdown-body :not(pre) code {
  @apply align-baseline;
  @apply bg-yellow-400;
  @apply font-mono;
  @apply inline-block;
  @apply leading-none;
  @apply p-2;
  @apply text-sm;
  @apply whitespace-no-wrap;
  font-weight: 400;
}

.markdown-body pre {
  @apply mb-4;
}
/* purgecss end ignore */
