/* purgecss start ignore */
/**
 * Tailwind CSS theme for `prism.js`
 * Based on the syntax theme used in the Tailwind CSS docs, which is based  on Atom's
 * `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 * @author Taylor Bryant
 */

code[class*="language-"],
pre[class*="language-"] {
  @apply font-mono scrolling-touch subpixel-antialiased text-code-white text-gray-200;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

pre[class*="language-"] {
  overflow: auto;
  @apply p-4 rounded-lg;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  @apply bg-gray-800 text-sm;
}

code.language-js .token.regex,
pre.language-js .token.regex,
.token.selector,
.token.attr-name,
.token.property,
.token.regex,
.token.class-name,
.token.entity {
  @apply text-code-yellow;
}

code.language-diff,
pre.language-diff {
  @apply text-gray-400;
}

code.language-diff .token.inserted,
pre.language-diff .token.inserted,
.token.url,
.token.attr-value,
.token.char,
.token.string,
.token.builtin,
.token.inserted,
.token.boolean,
.token.constant {
  @apply text-code-green;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-500;
}

.namespace {
  opacity: 0.7;
}

.token.symbol,
.token.deleted,
.token.tag,
.token.number,
code.language-js .token.boolean,
pre.language-js .token.boolean {
  @apply text-code-red;
}

.token.unit,
.token.function,
.token.punctuation,
.token.hexcode,
.token.operator,
code.language-js .token.operator,
pre.language-js .token.operator {
  @apply text-code-blue;
}

.token.atrule,
.token.atrule > .token.property,
.token.atrule > .token.property + .token.punctuation,
.token.atrule
  > .token.property
  + .token.punctuation
  + .token.number
  + .token.unit,
.token.atrule > .token.number,
.token.atrule > .token.unit,
code.language-js .token.punctuation,
pre.language-js .token.punctuation,
code.language-js .token.keyword,
pre.language-js .token.keyword,
code.language-bash .token.function,
pre.language-bash .token.function {
  @apply text-code-white;
}

.token.rule,
.token.important,
.token.variable {
  font-weight: inherit;
  @apply text-code-purple;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
/* purgecss end-ignore */
