.markdown-body {
  @apply text-lg;
  @apply leading-relaxed;
}

.markdown-body p {
  @apply mb-6;
}

.markdown-body h2,
.markdown-body h3 {
  @apply leading-tight;
  @apply tracking-tight;
  @apply font-bold;
  @apply mb-3;
  @apply mt-9;
}

.markdown-body h2 {
  @apply text-2xl;
}

.markdown-body h3 {
  @apply text-xl;
}

.markdown-body ul,
ol {
  @apply pl-6;
  list-style: initial;
}

.markdown-body li:not(:first-child) {
  @apply mt-4;
}

.markdown-body li {
  @apply mb-4;
}

.markdown-body img {
  @apply mb-6;
  @apply w-full;
}

.markdown-body *:last-child {
  @apply mb-0;
}

.markdown-body :not(pre) code {
  font-size: 0.8em;
  @apply bg-light;
  @apply px-2;
  @apply py-1;
  @apply whitespace-pre-wrap;
  @apply font-mono;
  @apply leading-none;
}

.markdown-body pre {
  @apply mb-6;
}
