/* purgecss start ignore */
.markdown-body {
  @apply text-xl;
  @apply tracking-tight;
}

.markdown-body a {
  @apply bg-gradient-green-blue;
  @apply font-black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.markdown-body p {
  @apply leading-normal;
  @apply mb-4;
  @apply text-xl;
}

.markdown-body h2 {
  @apply font-black;
  @apply mb-2;
  @apply mt-8;
  @apply text-3xl;
}

.markdown-body h3 {
  @apply font-black;
  @apply mb-2;
  @apply mt-8;
  @apply text-xl;
}

.markdown-body ul,
ol {
  @apply leading-normal;
  @apply pl-8;
  list-style: initial;
}

.markdown-body li {
  @apply my-2;
}

.markdown-body img {
  @apply mb-4;
  @apply w-full;
}

.markdown-body *:last-child {
  @apply mb-0;
}

.markdown-body :not(pre) code {
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(246, 224, 94, 0.3),
    rgba(246, 224, 94, 0.7) 95%,
    rgba(246, 224, 94, 0.1)
  );
  @apply font-sans;
  @apply inline-block;
  @apply leading-none;
  font-weight: 400;
}

.markdown-body pre {
  @apply mb-4;
}

/* purgecss end ignore */
