---
---

{% include header.html %}

<main class="max-w-md">
  <p class="mb-6 text-5xl">👋</p>

  <h1 class="font-medium mb-6">Hi, I'm Taylor Bryant.</h1>

  <p class="leading-normal text-xl sm:text-2xl">
    I'm a software engineer living in Memphis, TN. I build software products using React, Next, Express, and GraphQL. You can see my side projects on <a class="text-teal-dark" href="https://github.com/taylorbryant">GitHub</a>, follow me on <a class="text-blue-dark" href="https://twitter.com/tayl_rbryant">Twitter</a>, or read my <a class="text-indigo-dark" href="https://taylorbryant.blog/">blog</a>.
  </p>
</main>

{% include footer.html %}
